*, ::after, ::before{
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.06);
}
nav {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 10vh;
	padding: 20px;
	margin-bottom: 20px;
}
a {
	text-decoration: none;
}
/* nav a {
	position: relative;
	background-color:rgb(190, 212, 233);
	border: 1px solid rgb(190, 212, 233);
	border-radius: 6px;
} */

h1 {
	font-size: 42px;
	font-weight: 600;
	text-align: center;
}
.add{
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	padding: 10px 15px;
	cursor: pointer;
}
.add:hover{
	background-color: #ccc;
	border-radius: 8px;
}
#books {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 20px 40px;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
#books .book {
	width: 27%;
	padding: 20px 20px;
	margin: 20px 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-shadow: #ae6767e5;
}
#books .book p {
	font-size: 20px;
	/* font-weight: 500; */
}
button{
	font-size: 1.5rem;
	width: 100%;
	padding: 12px 12px;
	margin-top: 12px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s ease;
}
#books .read, .submit {
	background-color: rgb(120, 209, 120);
	border: 1px solid rgb(120, 209, 120);
}
#books .read:hover, .submit:hover{
	background-color: rgb(95, 195, 95);
}
.unread {
	background-color: rgb(235, 110, 110);
	border: 1px solid rgb(235, 110, 110);
}
.unread:hover {
	background-color: rgb(218, 58, 58);
	border: 1px solid rgb(218, 58, 58);
}
#books .remove {
	background-color:#ccc;
	border: 1px solid #ccc;
}
#books .remove:hover {
	background-color:#d7cfcf;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	backdrop-filter: blur(3px);
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: white;
	margin: 10% auto; /* 15% from the top and centered */
	padding: 20px 10px;
	border: 1px solid #888;
	width: 350px; /* Could be more or less, depending on screen size */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	transition: 0.2s;
	/* z-index: 2; */
}
.modal-content input {
	font-size: 1.3rem;
	padding: 8px 10px;
	margin: 12px;
	outline: none;
}
.modal-content div{
	padding: 30px 0;
	text-align: center;
}
.modal-content label {
	font-size: 1.3rem;
	font-weight: bold;
	margin-right: 8px;
}
input[type="checkbox"]{
	width: 1.1rem;
	height: 1.1rem;
}

footer {
	background-color: rgb(48, 87, 126);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer i {
	font-size: 22px;
	padding: 12px;
	color: white
}
footer i:hover {
	color: rgb(102, 188, 139);
}

/* media queries */
@media (max-width: 820px){
	#books {
   	 padding: 20px 20px;
	}
	#books .book {
	 padding: 10px 10px;
   	 width: 40%;
	}
	#books .book button {
		padding: 8px 10px;
	}
}

@media (max-width: 540px) {
	h1 {
    	font-size: 28px;
	}
	a {
		font-size: 24px;
		padding: 8px 12px;
	}
	#books {
   	 padding: 0px;
	}
	#books .book {
		width: 100%;
	}
	footer {
		text-align: start;
	}
}